:root {
  --primary-color: #bf360c;
  --secondary-color: #bb664c;
}

body {
  background: whitesmoke;
}

nav {
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);
}

svg {
  color: var(--primary-color);
}

nav * {
  align-self: center;
}

nav a {
  color: #dfc6c0;
  text-decoration: none;
  margin: 8px;
  padding: 8px;
}

nav a:hover {
  color: white;
  background: var(--secondary-color);
  border-radius: 8px;
}

main {
  width: 60%;
  margin: auto;
  margin-top: 8px;
}

@media (max-width: 700px) {
  nav {
    flex-direction: column;
    padding: 8px;
  }
  main {
    width: 90%;
    margin: auto;
    margin-top: 8px;
  }
}
